## Various cache's for huggingface models/datasets and python
.cache/
__pycache__/

## IDE Stuff
.idea/
.vscode/

## Model outputs and data
outputs/
data/
embedding_init/embeddings
train_tokenizer/hf_models
train_tokenizer/sp_models
models/

## Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

## Helper Files
download_model.py
